body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
  
}

h1 {
  color: #333;
}

.game-board {
  border-collapse: collapse;
  margin-top: 20px;
}

.game-board td {
  width: 60px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
}

.game-board td:hover {
  background-color: #e0e0e0;
}

.winner {
  margin-top: 20px;
  font-size: 20px;
  color: #4caf50;
}

h2 {
  margin-top: 20px;
  color: #333;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
}

button:hover {
  background-color: #45a049;
}

h3 {
  margin-top: 20px;
  color: #333;
}

input {
  width: 300px;
  padding: 10px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
